<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exchange_UI.AllSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Exchange_UI.AllSettings>
            <setting name="isUseCondition1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isUseCondition2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isUseCondition3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="countDownLess" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="countDownAgain" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="timeHourDiff" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="sMHeightLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sMGrayFix1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sMGrayFix2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sMGreen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sMRed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="shortNumMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="longNumMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sFxtLeftNum" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="gDayNumMore" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="gJinTuiMore" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="gIsColorDiff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gWithoutOrder1" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="gWithoutOrder2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="gOrderSumLess" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="gShortBothMore" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="gLongSumMore" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="gFengzhongSumMore" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sIsGreenAndRed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sWithoutNum1" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="sWithoutNum2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="sOrderSumLess" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="sShortAllMore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sLongSumMore" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="pathTemp" serializeAs="String">
                <value>C:\Program Files (x86)\MT4 Exchange\MQL4\Files</value>
            </setting>
            <setting name="sZSRed0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sZSRed1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sZSRed2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sZSRed3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSRed4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSRed5" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSRed6" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSYellow0" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSYellow1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSYellow2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSYellow3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sZSYellow4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSYellow5" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSYellow6" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSGreen0" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSGreen1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSGreen2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSGreen3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="sZSGreen4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="sZSGreen5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sZSGreen6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sOutLongSum" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="sOutOrderSum" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="sAfterMinNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="zoushiGreen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="zoushiRed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="stopSec" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sBuyOrSell" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sZSRedLess" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sZSYellowMore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sZSGreenMore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sZIsUpRed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sZIsUpGreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timeCountDown0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown33" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeCountDown34" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastClosedAppTime" serializeAs="String">
                <value>2016-03-14</value>
            </setting>
            <setting name="gPChangeOrderNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="gIsUseSound" serializeAs="String">
                <value>False</value>
            </setting>
        </Exchange_UI.AllSettings>
    </userSettings>
</configuration>